pipeline/Pipeline 004 - Db2Parquet_with_Notebook_Clean_Gold_And_Deploy.json
{
	"name": "Pipeline 004 - Db2Parquet_with_Notebook_Clean_Gold_And_Deploy",
	"properties": {
		"description": "We are copying some data from our azure sql database to our data lake in parquet format and doing a transformation with a PySpark notebook",
		"activities": [
			{
				"name": "GetTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT table_Schema+'.'+TABLE_NAME AS Table_Name FROM information_Schema.tables WHERE TABLE_SCHEMA = 'SalesLT' AND TABLE_TYPE = 'BASE TABLE'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTableSourceDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachRowInGetTables",
				"description": "Looping through all the rows from the GetTables activity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data from each row",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM @{item().Table_Name}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTableSourceDataset",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ParquetDataSet",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "BronzeToSilverNBActivity",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "Copy data from each row",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "BronzeToSilver",
									"type": "NotebookReference"
								},
								"parameters": {
									"cw_table": {
										"value": {
											"value": "@{item().Table_Name}",
											"type": "Expression"
										},
										"type": "string"
									},
									"cw_database": {
										"value": "demodatabase",
										"type": "string"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "sparkpool",
									"type": "BigDataPoolReference"
								},
								"executorSize": "Small",
								"conf": {
									"spark.dynamicAllocation.enabled": true,
									"spark.dynamicAllocation.minExecutors": 3,
									"spark.dynamicAllocation.maxExecutors": 4
								},
								"driverSize": "Small",
								"numExecutors": 3
							}
						}
					]
				}
			},
			{
				"name": "DeleteExternalTable",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "ForEachRowInGetTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CustomerAddresses",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureDataLakeStorage",
							"type": "LinkedServiceReference"
						},
						"path": "fsadlssynapsegs/synapse/workspaces/logs"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-03-16T13:52:03Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}